<h1>account</h1>

<!--<h2><%# @user_name %></h2>-->
<!--<h2><%# @group_name %></h2>-->

<!--<h2><%#= GroupUser.where(user_id: current_user.id).where(group_id: @groupId).group.name %></h2>-->

<h2>Name:  <%= @gu.user.name %></h2>
<%= link_to 'Edit', edit_user_path(current_user) %>
<h2>Group:  <%= @gu.group.name %></h2>
<%= link_to 'グループ作成', "/groups/new" %>

<table>
  <thead>
  <tr>
    <th>機材名</th>
    <th>借りた日</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @borrow then %>
    <% @borrow.each do |borrow| %>
      <tr>
        <td><%= borrow.equip.name %></td>
        <td><%= borrow.created_at.to_s(:datetime_jp) %></td>
        <td><%= button_to "返却", {controller: 'home', action: 'account'}, {method: :get, params: {borrow_id: borrow.id}} %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>