<% if logged_in? %>
  <%= render 'home/logged_in' %>
<% else %>
  <%= render 'home/not_logged_in' %>
<% end %>

<!--<p><%#= @param %></p>-->

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>機材名</th>
      <th>借りた日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @borrow then %>
      <% @borrow.each do |borrow| %>
        <tr>
          <td><%= borrow.group_user.user.name %></td>
          <td><%= borrow.equip.name %></td>
          <td><%= borrow.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
