<!DOCTYPE html>
<html>
  <head>
    <title>EQManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <ul>
        <li><a href="/">EQManager</a></li>
        <li><a href="/account">account</a></li>
        <li><a href="/add">add</a></li>
      </ul>
    </header>

    <div class="body">
      <div class="group">
        <% if logged_in? %>
          <% GroupUser.where(user_id: current_user.id).each do |gu| %>
            <%#= link_to gu.group.name, "/", params:{:group_id => gu.group.id} %>
            <%= link_to gu.group.name, "/?group_id=#{gu.group.id}" %>
          <% end %>
        <% end %>

      </div>

      <%= yield %>

    </div>


    <footer>

    </footer>
  </body>
</html>
