<!DOCTYPE html>
<html>
  <head>
    <title>EQmanager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="/">EQManager</a></li>
        <li><a href="/account">account</a></li>
        <li><a href="add">add</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
